*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  background-color: #ecf0f3;
}
.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecfof3;
}
.calc{
  box-shadow: 6px 6px 13px #fff,
              6px 6px 13px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(4,66px);
}
#inputext{
  grid-column: span 4;
  height: 65px;
  width: 260px;
  box-shadow: inset -6px -6px 13px #fff,
              inset 6px 6px 13px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 25px;
  color: rgb(26, 25, 25);
  text-align: end;
  margin: 40px 0px 30px 0px;
  padding: 20px;
  font-size: 35px
}
button{
  box-shadow: inset 6px 6px 13px #fff,
               6px 6px 13px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 45%;
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}
#equal{
  width : 120px;
  border-radius: 42px;
  box-shadow: inset 6px 6px 13px #fff,
               6px 6px 13px rgba(0, 0, 0, 0.15);

}
button:hover{
  background-color: black;
  color: white;
  box-shadow: none;
}
#equal:hover{
  box-shadow: none;
}
